<mat-card class="card mat-elevation-z5">
  <mat-card-header>
    <mat-card-title>Sign In</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form
      class="form"
      [formGroup]="loginForm"
      (submit)="login(loginForm.value)"
    >
      <mat-form-field class="field">
        <mat-label>username</mat-label>
        <input matInput formControlName="username" />
      </mat-form-field>
      <mat-form-field class="field">
        <mat-label>password</mat-label>
        <input matInput formControlName="password" />
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="loginForm.invalid">
        sign in
      </button>
    </form>
  </mat-card-content>
</mat-card>
